.root {
    -fx-background-image: url("../assets/img/loginView/temporary-login-background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.5, 0, 0);
    -fx-background-radius: 12px;
    -fx-font-family: Verdana
}

.content-container {
    -fx-background-color: #151515;
    -fx-background-radius: 8px;
}

.title {
    -fx-font-family: Consolas;
    -fx-text-fill: mediumpurple;
    -fx-effect: dropshadow(three-pass-box, wheat, 2, 0.6, 0, 0);
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-font-family: Carlito;
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
}

.is-new-user-label {
    -fx-text-fill: #b9b9b9;
    -fx-font-size: 10px;
    -fx-font-weight: 600;
}

.create-account-label {
    -fx-padding: 10px;
    -fx-text-fill: #EEEEEE ;
    -fx-font-size: 10px;
    -fx-font-weight: 500;
    -fx-cursor: hand;
}

.welcome-label {
    -fx-font-family: "Arial Black";
    -fx-padding: 10px;
    -fx-text-fill: #EEEEEE ;
    -fx-font-size: 30px;
    -fx-font-weight: 800;
}

.input {
    -fx-pref-height: 40px;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-text-fill: #EEEEEE;
}

.login-button {
    -fx-background-color: black;
    -fx-text-fill: #EEEEEE;
    -fx-background-radius: 8px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, mediumpurple, 10, 0.5, 0, 0);
}

.login-button:hover {
    -fx-background-color: #171616;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}
